@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "scrollbar.css";
@import "sidebar.css";
@import "progress.css";
@import "modal.css";
@import "dropdownmenu.css";

:root {
  /* Main Color */
  --themeColor: #fd6969;
  --themeColorDark: #ef4444;
  --themeLightColor: #fef2f2;
  --secondaryColor: #b0eacd;
  --themeDarkColor: #2e374f;
  --themeWhiteColor: #ffffff;

  /* Greyscale Color */
  --lightColor: #9ea3ae;
  --lightDeepColor-1: #9ea3ae;
  --themeLightColor: #fef2f2;
  --lightDeepColor-3: #d3d5da;
  --lightDeepColor-4: #9ea3ae;
  --darkColor: #6c727f;
  --darkDeepColor-1: #4d5461;
  --darkDeepColor-2: #394150;
  --darkDeepColor-3: #212936;
  --darkDeepColor-4: #0b0a0f;

  /* Typography */
  --headline-1: 52px;
  --headline-2: 40px;
  --headline-3: 32px;
  --headline-4: 24px;
  --bodyXLarge: 20px;
  --bodyLarge: 18px;
  --bodyMedium: 16px;
  --bodySmal: 14px;
  --bodyXSmal: 10px;
}

body {
  background: var(--themeLightColor);
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
i,
label,
button,
input,
textarea,
span {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
}
a {
  font-family: "Poppins", sans-serif !important;
  cursor: pointer !important;
}
.border-radius-0 {
  border-radius: 0 !important;
}
.recharts-text {
  color: var(--bs-gray-200);
  font-weight: 300;
  font-size: 10px;
  font-family: "Poppins", sans-serif !important;
}

.table-section {
  height: 55vh !important;
  overflow-y: auto;
  scrollbar-color: var(--bs-gray-500) var(--bs-light) !important;
  scrollbar-width: thin !important;
}

table {
  width: 100%;
}
td {
  white-space: nowrap !important;
}
td div {
  white-space: normal;
  word-break: break-all !important;
  display: block;
}
img.side-nav-logo {
  max-width: 100px;
}
